:root {
  /* text */
  --text-black: rgb(0, 0, 0);
  --text-white: rgb(255, 255, 255);

  /* size */
  --page-padding: 2px 0px;
  --sidebar-width: clamp(250px, 15vw, 500px);
  --page-height: 100vh;
  --max-content-height: 88vh;
  --half-page-height: 40vh;

  /* colors */
  --main-color-top: rgba(56, 139, 151, 1);
  --main-color-bottom: rgba(56, 105, 151, 0.84);
  --shape-color: rgba(255, 255, 255, 0.14);
  --reverse-fade: rgba(0, 0, 0, 0.08);
  --fade: rgba(255, 255, 255, 0.2);
  --background-grad: linear-gradient(
    to bottom,
    var(--main-color-top),
    var(--main-color-bottom)
  );
}
* {
  margin: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
