.loginWelcome {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--main-color-top),
    var(--main-color-bottom)
  );
  flex: 0.4;
}

/* welcome section */
.welcome_Section {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-white);
  background-color: var(--reverse-fade);
}

.welcome_Section h1 {
  font-size: clamp(1rem, 10vw, 3rem);
  letter-spacing: 0.5ch;
  font-weight: 500;
}

.welcome_Section p {
  margin-top: 1rem;
  font-size: clamp(1.1rem, 1vw, 10rem);
  text-align: center;
  line-height: 1.5rem;
  max-width: 80%;
}
