/* shapes is the main div  */
.LineCircle::after,
.LineCircle::before,
.squareTringle::before,
.squareTringle::after {
  content: " ";
  position: absolute;
  background: var(--shape-color);
  z-index: -100;
}
.LineCircle::before {
  width: 90%;
  rotate: 20deg;
  height: 5px;
  top: 10%;
  left: 2%;
}

.LineCircle::after {
  width: 30%;
  height: 30%;
  top: 70vh;
  left: 10%;
  border-radius: 100%;
}

.squareTringle::before {
  width: 20%;
  height: 6%;
  top: 40vh;
  left: 70%;
  transform: perspective(10px) rotateX(22deg);
}
.squareTringle::after {
  width: clamp(1rem, 4%, 1.5rem);
  height: clamp(2rem, 7%, 4rem);
  rotate: 50deg;
  top: 20%;
  left: 10vw;
  transform: perspective(13px) rotateX(22deg);
}

@media only screen and (max-width: 786px) {
  .LineCircle,
  .squareTringle {
    display: none;
  }
}
